In [252]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statistics
import scipy.stats as stats  #for the statistical tests
%matplotlib inline

# BUSINESS PROBLEM-1

## a. Intrest rate is varied for different loan amounts (Less intrest charged for high loan amounts)

In [113]:
# Extracting data
loan_data = pd.read_csv('C:/Users/Vaibhav Dewat/Downloads/Analytix Lab course/Case Study/4. Basic Statistics - Hypothesis Testing/LoansData.csv')

In [194]:
# Understanding data
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Amount_Requested                2499 non-null   float64
 1   Amount_Funded_By_Investors      2500 non-null   object
 2   Interest_Rate                   2500 non-null   object
 3   Loan_Length                     2500 non-null   object
 4   Loan_Purpose                    2500 non-null   object
 5   Debt_To_Income_Ratio            2499 non-null   object
 6   State                           2500 non-null   object
 7   Home_Ownership                  2499 non-null   object
 8   Monthly_Income                  2499 non-null   float64
 9   FICO_Range                      2498 non-null   object
 10  Open_CREDIT_Lines               2497 non-null   float64
 11  Revolving_CREDIT_Balance        2497 non-null   float64
 12  Inquiries_in_the_Last_6_Months  2497 non-null   float64
 13  Employment_Length               2423 non-null   object
 14  FICO                            2498 non-null   object
dtypes: float64(5), object(10)
memory usage: 293.1+ KB

In [119]:
loan_data.head()

,Amount_Requested,Amount_Funded_By_Investors,Interest_Rate,Loan_Length,Loan_Purpose,Debt_To_Income_Ratio,State,Home_Ownership,Monthly_Income,FICO_Range,Open_CREDIT_Lines,Revolving_CREDIT_Balance,Inquiries_in_the_Last_6_Months,Employment_Length
0,20000.0,20000.0,8.90,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
1,19200.0,19200.0,12.12,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
2,35000.0,35000.0,21.98,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
3,10000.0,9975.0,9.99,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
4,12000.0,12000.0,11.71,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years

In [116]:
# Removing % from the Intrtest rate column
loan_data.iloc[:,2] = loan_data.iloc[:,2].str.replace('%','').astype(np.float64)

In [117]:
# Changing column names as per INC 
loan_data.columns = ['Amount_Requested', 'Amount_Funded_By_Investors', 'Interest_Rate',
       'Loan_Length', 'Loan_Purpose', 'Debt_To_Income_Ratio', 'State',
       'Home_Ownership', 'Monthly_Income', 'FICO_Range', 'Open_CREDIT_Lines',
       'Revolving_CREDIT_Balance', 'Inquiries_in_the_Last_6_Months',
       'Employment_Length']

In [118]:
# Correlation
loan_data.loc[:, ['Amount_Funded_By_Investors', 'Interest_Rate']].corr()

                            Amount_Funded_By_Investors  Interest_Rate
Amount_Funded_By_Investors                    1.000000       0.337454
Interest_Rate                                 0.337454       1.000000

In [122]:
# Filling None values
loan_data.Interest_Rate.fillna('1.0', inplace = True)
loan_data.Amount_Funded_By_Investors.fillna('1.0', inplace = True)

In [123]:
# Ho: Associated
# Ha: No relationship between Intrest rate and loan amounts
# CI: 95%, p: 0.05

# perform the test 
stats.pearsonr( loan_data.Amount_Funded_By_Investors, loan_data.Interest_Rate )

# Conclusion :
# Both P-value and correlation value is low hence the Ho will go
# Business Conclusion : 
# There is no relation between Amount and Intrest rate of the loans

PearsonRResult(statistic=0.3354518016237078, pvalue=8.343249201024101e-67)

## b. Loan length is directly effecting intrest rate.

In [127]:
A = loan_data.loc[(loan_data.Loan_Length == '36 months'),'Interest_Rate'].astype(np.float64)
B = loan_data.loc[(loan_data.Loan_Length == '60 months'),'Interest_Rate'].astype(np.float64)

In [128]:
# H0: u1 = u2
# Ha: u1 <> u2
# CI: 99%, p: 0.01

# perform the test
stats.ttest_ind( A, B )

# stats conclusion
# with the given sample we fail to reject the H0
# Hence, Loan length is directly effecting intrest rate

Ttest_indResult(statistic=-23.39783718724292, pvalue=1.218026444001273e-109)

## c. Inrest rate varies for different purpose of loans

In [137]:
A = loan_data.loc[(loan_data.Loan_Purpose == 'debt_consolidation'),'Interest_Rate'].astype(np.float64)
B = loan_data.loc[(loan_data.Loan_Purpose == 'credit_card'),'Interest_Rate'].astype(np.float64)
C = loan_data.loc[(loan_data.Loan_Purpose == 'other'),'Interest_Rate'].astype(np.float64)
D = loan_data.loc[(loan_data.Loan_Purpose == 'moving'),'Interest_Rate'].astype(np.float64)
E = loan_data.loc[(loan_data.Loan_Purpose == 'car'),'Interest_Rate'].astype(np.float64)
F = loan_data.loc[(loan_data.Loan_Purpose == 'vacation'),'Interest_Rate'].astype(np.float64)
G = loan_data.loc[(loan_data.Loan_Purpose == 'home_improvement'),'Interest_Rate'].astype(np.float64)
H = loan_data.loc[(loan_data.Loan_Purpose == 'house'),'Interest_Rate'].astype(np.float64)
I = loan_data.loc[(loan_data.Loan_Purpose == 'major_purchase'),'Interest_Rate'].astype(np.float64)
J = loan_data.loc[(loan_data.Loan_Purpose == 'educational'),'Interest_Rate'].astype(np.float64)
K = loan_data.loc[(loan_data.Loan_Purpose == 'medical'),'Interest_Rate'].astype(np.float64)
L = loan_data.loc[(loan_data.Loan_Purpose == 'wedding'),'Interest_Rate'].astype(np.float64)
M = loan_data.loc[(loan_data.Loan_Purpose == 'small_business'),'Interest_Rate'].astype(np.float64)
N = loan_data.loc[(loan_data.Loan_Purpose == 'renewable_energy'),'Interest_Rate'].astype(np.float64)

In [138]:
# Ho: means are EQUAL
# Ha: means are UNEQUAL
# CI: 99%, p: 0.01

# perform the test
stats.f_oneway( A, B, C, D, E, F, G, H, I, J, K, L, M, N)

# conclusion
# Inrest rate does varies for different purpose of loans

F_onewayResult(statistic=7.563503260911469, pvalue=7.395255052275816e-15)

## d. There is relationship between FICO scores and Home Ownership. It means that, People with owning home will have high FICO scores.

In [198]:
loan_data['FICO'] = loan_data.FICO_Range
A = loan_data.FICO_Range
loan_data['FICO'] = A.str.slice(stop=3)

In [199]:
A = loan_data.loc[(loan_data.Home_Ownership == 'OWN'),'FICO'].astype(np.float64)
B = loan_data.loc[(loan_data.Home_Ownership != 'OWN'),'FICO'].astype(np.float64)
B.fillna(B.mean(), inplace = True)

In [201]:
# H0: u1 = u2
# Ha: u1 <> u2
# CI: 99%, p: 0.01

# perform the test
stats.ttest_ind( A, B )

# stats conclusion
# with the given sample we fail to reject the H0
# Hence, Owning the home does not affect the FICO scores

Ttest_indResult(statistic=0.27158075648515645, pvalue=0.7859668391782582)

# BUSINESS PROBLEM - 2

##  We would like to assess if there is any difference in the average price quotes provided by Mary and Barry

In [202]:
# Extracting data
Price_Quotes = pd.read_csv('C:/Users/Vaibhav Dewat/Downloads/Analytix Lab course/Case Study/4. Basic Statistics - Hypothesis Testing/Price_Quotes.csv')

In [205]:
# Understanding data
Price_Quotes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order_Number  12 non-null     int64
 1   Barry_Price   12 non-null     int64
 2   Mary_Price    12 non-null     int64
dtypes: int64(3)
memory usage: 416.0 bytes

In [206]:
# H0: u1 = u2
# Ha: u1 <> u2
# CI: 99%, p: 0.01

# perform the test
stats.ttest_ind( Price_Quotes.Barry_Price , Price_Quotes.Mary_Price )

# stats conclusion
# with the given sample we fail to reject the H0
# Hence, the average price quotes provided by Mary and Barry are similar

Ttest_indResult(statistic=1.4147436739281787, pvalue=0.17114226132118285)

# BUSINESS PROBLEM - 3

## Determine what effect, if any, the reengineering effort had on the incidence behavioral problems and staff turnover. i.e To determine if the reengineering effort changed the critical incidence rate. Isthere evidence that the critical incidence rate improved?

In [210]:
# Extracting data
Treatment_Facility = pd.read_csv('C:/Users/Vaibhav Dewat/Downloads/Analytix Lab course/Case Study/4. Basic Statistics - Hypothesis Testing/Treatment_Facility.csv')

In [212]:
# Understanding data
Treatment_Facility.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Month              20 non-null     int64
 1   Reengineer         20 non-null     object
 2   Employee_Turnover  20 non-null     float64
 3   VAR4               20 non-null     float64
 4   VAR5               20 non-null     float64
dtypes: float64(3), int64(1), object(1)
memory usage: 928.0+ bytes

In [213]:
Treatment_Facility.head()

   Month Reengineer  Employee_Turnover       VAR4        VAR5
0      1      Prior             0.0000  24.390244   42.682927
1      2      Prior             6.0606  19.354839   25.806452
2      3      Prior            12.1212  35.087719  146.198830
3      4      Prior             3.3333  18.404908  110.429448
4      5      Prior            12.9032  17.964072   23.952096

In [228]:
A = Treatment_Facility.loc[(Treatment_Facility.Reengineer == 'Prior'),'Employee_Turnover']
B = Treatment_Facility.loc[(Treatment_Facility.Reengineer == 'Post'),'Employee_Turnover']

In [232]:
print('Mean of Employee Turnover Prior to Reengineering : ', A.mean())
print('Mean of Employee Turnover Post to Reengineering : ', B.mean())

Mean of Employee Turnover Prior to Reengineering :  11.735692307692307
Mean of Employee Turnover Post to Reengineering :  18.68912857142857

In [217]:
# H0: u1 >= u2
# Ha: u1 < u2
# CI: 99%, p: 0.01

# perform the test
stats.ttest_ind( A, B )

# stats conclusion
# with the given sample we fail to reject the H0
# Employee Turnover has not affected post-reengineering period moreover has even increased
# Re-engineering is unsuccessful

Ttest_indResult(statistic=-1.770306704753604, pvalue=0.09361109345535304)

In [233]:
A = Treatment_Facility.loc[(Treatment_Facility.Reengineer == 'Prior'),'VAR5']
B = Treatment_Facility.loc[(Treatment_Facility.Reengineer == 'Post'),'VAR5']

In [234]:
print('Mean of critical incident reports Prior to Reengineering : ', A.mean())
print('Mean of critical incident reports Post to Reengineering : ', B.mean())

Mean of critical incident reports Prior to Reengineering :  53.887906321846145
Mean of critical incident reports Post to Reengineering :  23.34971927988571

In [235]:
# H0: u1 <= u2
# Ha: u1 > u2
# CI: 99%, p: 0.01

# perform the test
stats.ttest_ind( A, B )

# stats conclusion
# with the given sample we fail to reject the H0
# Critical incident(CI) reports has not affected post-reengineering period however the mean has reduced but employee turover is still higher
# Re-engineering is unsuccessful

Ttest_indResult(statistic=1.627914425352865, pvalue=0.12091989189884148)

# BUSINESS PROBLEM-4

## We will focus on the prioritization system. If the system is working, then high priority jobs, on average, should be completed more quickly than medium priority jobs, and medium priority jobs should be completed more quickly than low priority jobs. Use the data provided to determine whether thisis, in fact, occurring.

In [236]:
# Extracting data
Priority_Assessment = pd.read_csv('C:/Users/Vaibhav Dewat/Downloads/Analytix Lab course/Case Study/4. Basic Statistics - Hypothesis Testing/Priority_Assessment.csv')

In [238]:
# Understanding data
Priority_Assessment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 642 entries, 0 to 641
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Days      642 non-null    float64
 1   Priority  642 non-null    object
dtypes: float64(1), object(1)
memory usage: 10.2+ KB

In [239]:
Priority_Assessment.head()

   Days Priority
0   3.3     High
1   7.9   Medium
2   0.3     High
3   0.7   Medium
4   8.6   Medium

In [241]:
A = Priority_Assessment.loc[(Priority_Assessment.Priority == 'High'),'Days']
B = Priority_Assessment.loc[(Priority_Assessment.Priority == 'Medium'),'Days']
C = Priority_Assessment.loc[(Priority_Assessment.Priority == 'Low'),'Days']

In [244]:
print('Mean of Hign priority jobs : ', A.mean())
print('Mean of Medium priority jobs : ', B.mean())
print('Mean of Low priority jobs : ', C.mean())

Mean of Hign priority jobs :  3.023619631901845
Mean of Medium priority jobs :  2.5000000000000004
Mean of Low priority jobs :  4.228358208955225

In [245]:
# Ho: means are EQUAL
# Ha: means are UNEQUAL
# CI: 99%, p: 0.01

# perform the test
stats.f_oneway( A, B, C)

# stats conclusion
# with the given sample we fail to reject the H0
# The prioritization system is not affecting anything major

F_onewayResult(statistic=1.812311010076072, pvalue=0.16411459461716182)

# BUSINESS PROBLEM-5

## What is the overall level of customer satisfaction?

In [246]:
# Extracting data
Films = pd.read_csv('C:/Users/Vaibhav Dewat/Downloads/Analytix Lab course/Case Study/4. Basic Statistics - Hypothesis Testing/Films.csv')

In [248]:
# Understanding the data
Films.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   _rowstate_      330 non-null    int64
 1   Movie           330 non-null    object
 2   Gender          330 non-null    object
 3   Marital_Status  328 non-null    object
 4   Sinage          328 non-null    float64
 5   Parking         328 non-null    float64
 6   Clean           327 non-null    float64
 7   Overall         328 non-null    float64
 8   Age             328 non-null    float64
 9   Income          314 non-null    float64
 10  Hear_About      323 non-null    object
dtypes: float64(6), int64(1), object(4)
memory usage: 28.5+ KB

In [249]:
Films.head()

,_rowstate_,Movie,Gender,Marital_Status,Sinage,Parking,Clean,Overall,Age,Income,Hear_About
0,0,Ferris Buellers Day Off,Female,Married,2.0,2.0,2.0,2.0,3.0,1.0,5
1,0,Ferris Buellers Day Off,Female,Single,1.0,1.0,1.0,1.0,2.0,1.0,5
2,0,Ferris Buellers Day Off,Male,Married,2.0,4.0,3.0,2.0,4.0,1.0,5
3,0,Ferris Buellers Day Off,Female,Married,1.0,3.0,2.0,2.0,4.0,1.0,5
4,0,Ferris Buellers Day Off,Female,Married,1.0,1.0,1.0,1.0,3.0,3.0,1

In [278]:
Films.Overall.fillna(Films.Overall.mean(), inplace = True)
Mean_Rating = Films.Overall.mean()
Std_Dev = statistics.stdev(Films.Overall)
SE = Std_Dev/((Films.shape[0])**0.5)

# As per 95% CI, the range = (Mean +-1.96*SE) 
A = Mean_Rating + 1.96*SE
B = Mean_Rating - 1.96*SE

In [281]:
print('The general ratings as concluded from the given samples lies between : ',A , 'and ', B)

The general ratings as concluded from the given samples lies between :  1.6930462114456166 and  1.5447586666031639

In [282]:
# Conclusion
# As coded: 1 = Excellent; 2 = Good; 3 = Average/Fair; 4 = Poor; 5 = Very Poor
# The ratings are decent for the Red Rocks Amphitheatre

## What factors are linked to satisfaction?

In [283]:
Films.corr()

# Conclusion
# Parking is highly linked to the satisfaction of customers as well as sinage and cleanliness affects a bit

,_rowstate_,Sinage,Parking,Clean,Overall,Age,Income
_rowstate_,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sinage,NaN,1.000000,0.470322,0.349163,0.382868,-0.091512,-0.036721
Parking,NaN,0.470322,1.000000,0.444368,0.515869,-0.023607,-0.022084
Clean,NaN,0.349163,0.444368,1.000000,0.349412,-0.005052,0.019851
Overall,NaN,0.382868,0.515869,0.349412,1.000000,-0.034126,-0.004069
Age,NaN,-0.091512,-0.023607,-0.005052,-0.034126,1.000000,0.144772
Income,NaN,-0.036721,-0.022084,0.019851,-0.004069,0.144772,1.000000

In [285]:
A = Films.loc[(Films.Movie == 'Ferris Buellers Day Off'),'Overall']
B = Films.loc[(Films.Movie == 'Willy Wonka'),'Overall']
C = Films.loc[(Films.Movie == 'Old School'),'Overall']

In [289]:
# Ho: means are EQUAL
# Ha: means are UNEQUAL
# CI: 99%, p: 0.01

# perform the test
stats.f_oneway( A, B, C)

# conclusion
# Movies does not impact the overall satisfaction

F_onewayResult(statistic=1.3297479298834356, pvalue=0.26597056306336136)

In [302]:
Films.Gender = Films.Gender.replace('1','Male')
Films.Gender = Films.Gender.replace('2','Female')

In [303]:
A = Films.loc[(Films.Gender == 'Female'),'Overall']
B = Films.loc[(Films.Gender == 'Male'),'Overall']

In [304]:
# Ho: u1 = u2
# Ha: u1 <> u2
# CI: 99%, p: 0.01

# perform the test
stats.ttest_ind( A , B )

# conclusion
# Gender does not impact the overall satisfaction

Ttest_indResult(statistic=-1.3762239960957157, pvalue=0.1696911300224957)

In [308]:
Films.Marital_Status.unique()

array(['Married', 'Single', 'Slngle', '1', '2', nan], dtype=object)

In [309]:
Films.Marital_Status = Films.Marital_Status.replace('Slngle','Single')
Films.Marital_Status = Films.Marital_Status.replace('2','Single')
Films.Marital_Status = Films.Marital_Status.replace('1','Married')

In [310]:
A = Films.loc[(Films.Marital_Status == 'Single'),'Overall']
B = Films.loc[(Films.Marital_Status == 'Married'),'Overall']

In [314]:
# Ho: u1 = u2
# Ha: u1 <> u2
# CI: 99%, p: 0.01

# perform the test
stats.ttest_ind( A , B )

# conclusion
# Marital Status does not impact the overall satisfaction

Ttest_indResult(statistic=0.7566582519754828, pvalue=0.4498011063677839)

## What is the demographic profile of Film on the Rocks patrons?

In [339]:
A = Films.groupby(by = ['Gender', 'Marital_Status', 'Age', 'Income']).count()
B = A.Movie
print(B)

# Demographic profile is as follows

Gender  Marital_Status  Age  Income
Female  Married         1.0  2.0        1
                        2.0  1.0        3
                             2.0        2
                             3.0        1
                        3.0  1.0        4
                             2.0       19
                             3.0       24
                        4.0  1.0        1
                             2.0        1
                             3.0        1
        Single          1.0  1.0        4
                             2.0        3
                             3.0       10
                        2.0  1.0       62
                             2.0       18
                             3.0       18
                        3.0  1.0       19
                             2.0        6
                             3.0        2
                        4.0  1.0        2
Male    Married         2.0  1.0        4
                             2.0        2
                             3.0        3
                        3.0  1.0        1
                             2.0        7
                             3.0       17
                        4.0  1.0        2
                             3.0        1
        Single          1.0  1.0        3
                             3.0        1
                        2.0  1.0       32
                             2.0       14
                             3.0        9
                        3.0  1.0        4
                             2.0        7
                             3.0        2
Name: Movie, dtype: int64

## In what media outlet(s) should the film series be advertised?

In [377]:
# Respondents could check any of the following that applied: 1 = television; 
# 2 =newspaper; 3 = radio; 4 = website; 5 = word of mouth

In [375]:
WOM = Films.loc[Films.Hear_About.isin(['5', '1,5', '2,5', '3,5', '4,5', '5,4']), 'Overall'].count()
Websit = Films.loc[Films.Hear_About.isin(['4', '3,4', '4,5', '5,4']), 'Overall'].count()
Radi = Films.loc[Films.Hear_About.isin(['3', '3,5', '3,4']), 'Overall'].count()
Newsp = Films.loc[Films.Hear_About.isin(['2', '2,5']), 'Overall'].count()
Telev = Films.loc[Films.Hear_About.isin(['1', '1,5']), 'Overall'].count()

In [376]:
print('Count for way of advertisement as per Word of Mouth : ', WOM , ' | Website : ', Websit , ' | Radio : ', Radi , ' | Newspaper : ', Newsp , ' | Television : ', Telev)

Count for way of advertisement as per Word of Mouth :  232  | Website :  45  | Radio :  17  | Newspaper :  14  | Television :  23

In [ ]:
# Conclusion
# As per the sample data, word of mouth is the best way to advertise any film series followed by website being the second best

# THE END